table {
	border-color: #888888;
	background-color: #888888;
	width: 60%;
	
}

div.commonLogin {
	font-family: cursive;
	color: white;
	font-weight: bold;
	text-align: center;
}

div.snsLogin {
	text-align: center;
}

a {
	color: white;
	font-family: cursive;
	font-size: 11px;
	text-decoration: none;
}