#messages {
}

.name {
	font: 10px Tahoma;
	float: left;
	background: #939393;
	color: white;
	padding: 3px 5px 3px 10px;
	border-radius: 0 0 0 10px;	
}

.time {
	font: 10px Tahoma;
	color: white;
	background-color: #9aaeb7;
	margin: 0;
	padding: 3px 10px 3px 5px;
	border-radius: 0 15px 15px 0;
	float: left;
}

.content {
	word-break: break-all;
	padding: 5px 10px 5px 15px;
	background-color: white;
	margin: 5px 0 20px 0;
	border-radius: 0 15px 15px 15px;
	float: left;
}


.mine .name {
	font: 10px Tahoma;
	float: right;
	background: #939393;
	color: white;
	padding: 3px 10px 3px 5px;
	border-radius: 0 0 10px 0;
}

.mine .time {
	font: 10px Tahoma;
	color: white;
	background-color: #9aaeb7;
	margin: 0;
	padding: 3px 5px 3px 10px;
	border-radius: 15px 0 0 15px;
	float: right;
}

.mine .content {
	word-break: break-all;
	float: right;
	padding: 5px 15px 5px 10px;
	background-color: #00b5e4;
	margin: 5px 0 20px 0;
	border-radius: 15px 0 15px 15px;
}

#error {
	display: none;
	width: 95%;
	background: #fcd2ec;
	color: #a30808;
	padding: 10px;
}