#messages {
	width: 100%;
}

.message {
	word-wrap: break-word;
	width: 100%;
}

.name {
	float: left;
	padding-right: 5px;
}

.content {
	max-width: 65%;
	padding: 5px 10px 5px 15px;
	background-color: white;
	margin: 0;
	margin-bottom: 10px;
	border-radius: 0 15px 15px 0;
	float: left;
}

.time {
	font: 9px Tahoma;
	color: white;
	background-color: #9aaeb7;
	margin: 7.5px 0;
	margin-bottom: 17.5px;
	padding: 2px 10px 2px 5px;
	border-radius: 0 15px 15px 0;
	float: left;
}


.mine {
	
}

.mine .name {
	float: right;
	padding-right: 5px;
}

.mine .time {
	font: 9px Tahoma;
	color: white;
	background-color: #9aaeb7;
	margin: 7.5px 0;
	padding: 2px 5px 2px 10px;
	border-radius: 15px 0 0 15px;
	float: right;
}

.mine .content {
	max-width: 50%;
	padding: 5px 15px 5px 10px;
	background-color: #00b5e4;
	margin: 0;
	margin-bottom: 10px;
	border-radius: 15px 0 0 15px;
	float: right;
}

#error {
	display: none;
	width: 95%;
	background: #fcd2ec;
	color: #a30808;
	padding: 10px;
}